<div class="module-options">
    <md-tabs md-dynamic-height>
        <!-- Color -->
        <md-tab>
            <md-tab-label>
                <md-icon>color_lens</md-icon>
            </md-tab-label>
            <md-tab-body>
                <div layout="column">
                    <span class="option-title">Color</span>
                    <div layout="row">
                        <div layout="column" ng-repeat="color in Template.colors" ng-cloak>
                            <md-button aria-label="color.primary" ng-click="Module.style.background_color= color.primary" class="md-fab md-raised md-mini" ng-class="color.primary">
                                <md-icon></md-icon>
                            </md-button>
                            <md-button aria-label="color.dark" ng-click="Module.style.background_color= color.dark" class="md-fab md-raised md-mini" ng-class="color.dark">
                                <md-icon></md-icon>
                            </md-button>
                            <md-button aria-label="color.accent" ng-click="Module.style.background_color= color.accent" class="md-fab md-raised md-mini" ng-class="color.accent">
                                <md-icon></md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </md-tab-body>
        </md-tab>
        <!-- Logo -->
        <md-tab>
            <md-tab-label>
                <md-icon>insert_photo</md-icon>
            </md-tab-label>
            <md-tab-body>
                <div layout="column">
                    <span class="option-title">Logo</span>
                    <div layout-wrap layout="row">
                        <div layout-margin ng-repeat="media in Media" ng-click="Module.data.logo = media.publicUrl" style="cursor:pointer;">
                            <img lazy-src ng-src="{{media.publicUrl}}" style="max-height: 100px" />
                        </div>
                    </div>
                </div>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>