<md-bottom-sheet class="md-grid" layout="column" flex="60" style="margin: 0 auto;min-height: 60%;">
	<div layout="row">
		<h5 class="md-subhead">Modules</h5>
		<span flex></span>
		<md-button class="md-icon-button" aria-label="Close" ng-click="hide()">
			<md-icon>close</md-icon>
		</md-button>
	</div>
	<div>
		<md-list flex layout="row" layout-align="center center">
			<md-list-item ng-repeat="Module in Template.modules">
				<md-button class="md-grid-item-content" ng-click="createModule(Page, Module)" style="padding: 5px 0px 20px 0px;">
					<md-icon style="font-size: 48px;height: 48px;width: 48px;">{{ Module.icon }}</md-icon>
					<div class="md-grid-text">{{ Module.type }}</div>
				</md-button>
			</md-list-item>
		</md-list>
	</div>
</md-bottom-sheet>